body {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  display: block;
  margin: 3rem 3rem 10rem 10rem;
}

.intro-text {
  justify-content: space-between;
}

.first-box {
min-height: 300px; /* or any other height value that works for your design */
  box-sizing: border-box;
  display: block;
  margin-top: 2rem;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.slogan {

  color: black;
  flex-direction: column;
  margin: 1rem 0px;
  font-weight: 700;
  text-align: left;
  font-size: 2.25rem;
  line-height: 120%;
  padding: 0rem 1.5rem;
}

.links {
  color: black;
  margin: 1rem 0.02rem 0.5rem;
  padding: 1.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-box-pack: start;
  justify-content: flex-start;
}


.sub-slogan {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  padding: 0.2rem 1.5rem;
  box-sizing: border-box;
  word-wrap: break-word;
  max-width: 45%;
}

.slogan p {
  margin-bottom: 0;
  margin-top: 0;
}

.text {
  align-self: flex-start;
}

.me {
  width: 260px;
    height: 260px;

  display: block;

  color: transparent;
  padding: 2rem;
  /* background-image: url(img/neon-theme.svg); */
  margin-left: auto
}
.me img {
  border-radius: 6px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

i {
    color: black;
  }

  .left{
    float: left;
  }
  .right{
    float: right;}


.header{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem 0.3rem 0.3rem;
    width: fit-content;
    font-size: 2rem;
    position: relative;
}
  
.header:hover{

transform: scale(1.2);
  font-weight: bold;
  cursor: pointer;

}

.i:hover{

  cursor: pointer;

}

a{
color: black;
text-decoration: none;
}