/* Main Page Styles */

#intro {
    background-color: #f9f9f9;
    padding: 2em;
    margin-bottom: 2em;
  }
  
  #intro h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  #intro p {
    font-size: 1.5em;
  }
  
  #services {
    background-color: #f9f9f9;
    padding: 2em;
    margin-bottom: 2em;
  }
  
  #services h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  #services ul {
    margin-left: 0;
  }
  
  #services li {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  #contact {
    padding: 2em;
  }
  
  #contact h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  #contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #contact form label,
  #contact form input,
  #contact form textarea,
  #contact form button[type="submit"] {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    #contact form label,
    #contact form input,
    #contact form textarea,
    #contact form button[type="submit"] {
      width: 100%;
    }
  }
  