/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
  }
  
  header {
    background-color: black;
    color: whitesmoke;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
  }
  
  nav ul li a:hover {
    background-color: white;
    color: black;
  }
  
  main {
    margin: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  ul {
    list-style: disc;
    margin-left: 2em;
  }
  
  a {
    color: #1e90ff;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  form input,
  form textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
  }
  
  form button[type="submit"] {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #007fff;
  }
  