<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cd2a26b8c3.js" crossorigin="anonymous"></script>

    <title>About me</title>
</head>
<body>

    <p>My technical skills are ever growing and im always learning new technologies. Some of my favourites to work with are</p>
    <ul>
        <li>Python</li>
        <li>javascript and/or typescript</li>
        <li>Java</li>
        <li>comftarble with both Linux and windows operating systems</li>
    </ul>

    
    
</body>
</html>