<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="tech" class="bg-slate-100 w-11/12 mt-6 text-center">
        <!-- have the cool little icons -->
        <!-- add a hover and/or pop up component of more info, what have used for favoruite libary etc -->
        <p class="text-2xl bold">Skills</p>
        <div class="flex-row text-center fa-2x">
          <p class="flex-col text-lg"></p>
          <i class="fa-brands fa-js  "></i> 
          <i class="fa-brands fa-css3-alt text-blue-700"></i>
          <i class="fa-brands fa-html5" style="color: rgb(227, 76, 38)"></i>
          <i class="fa-brands fa-python"></i>
          <i class="fa-brands fa-java"></i>
          <i class="fa-brands fa-linux"></i>
          <i class="fa-brands fa-git-alt"></i>
        </div>
    
</body>
</html>l