<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/cd2a26b8c3.js" crossorigin="anonymous"></script>


</head>
<body>
    <section>
    <div class="first-box">

        <div class="intro-text">

            <div class="slogan">
                <p>Developer,</p>
                <p>Information Addict,</p>
                <p>and  Life Long Learner</p>
            </div>

            <div class="sub-slogan">
                Hi im Josh, I'm a computer science student who wants to build things that improve peoples lives. etc etc etc loreum ipsum filler filler filler fillerlives. etc etc etc loreum ipsum filler filler filler filler s lives. etc etc 
            </div>
        </div>
            <div class="links">
                <a href="https://github.com/joshshipton">
                    <i class="fa-brands fa-github fa-3x"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/josh-shipton-b502691a6/">
                    <i class="fa-brands fa-linkedin fa-3x"></i>
                  </a>
                  <a href="pop-up-email-adress that can be copy pasted">
                    <i class="fa-solid fa-inbox fa-3x "></i>
                  </a>
            </div>

        
    </div>

    
    <div class="me">
        <img src="{{ url_for('static', filename='img/me.jpg') }}" alt="Image of me">
    </div>

    </section>


    </div>

    <div class="latest projects">
        <div class="header">
            Latest Projects 🚀 
        </div>
        <div>
            one project here or some way to show that there are more
        </div>
    </div>

    <div class="blog">
        <div class="header">
            Technical Blog📝 
        </div>
        <div>
            one project here or some way to show that there are more
        </div>
    </div>

    <div class="about-me">
        <div class="header">
            More about me 👤🔍
        </div>
        picture of me plus link to resume, judo blog, other things
    </div>


    
</body>
</html>